/* phone */
@media only screen and (max-width: 767px) {
	.gameover {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 65%;
	}
	.retry {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	}

}


/* macbook */
	@media only screen and (min-width: 767px) {
	.gameover {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 27%;
	}
	.retry {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 3%;
	}
}

html{
	background-color: #C6FFAD;
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-align: center;

}

h2 {
	visibility: none;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #FEFFCF;
}